.container
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          %h1
            Rake tasks
          .tasks
            rake itunes_tracks:update_library
            %br
            rake itunes_tracks:update_all_ratings
            %br
            rake references:update
