.container
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          %h2
            Versions
          .versions
            Rails #{@rails_version}
            %br
            Ruby #{@ruby_version}
          %h2
            Rake tasks
          .tasks
            rake itunes_tracks:update_library
            %br
            rake itunes_tracks:update_all_ratings
            %br
            rake references:update
