/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require raty/lib/jquery.raty
 *= require_tree .
 */
@import bootstrap-sprockets
@import bootstrap
@import font-awesome

#main
	margin-top: 55px

h2
	margin-top: 0px
	margin-bottom: 0px

.full_block
	display: block

ul.mp3_importers
	list-style-type: none
	li
		a
			display: block
			line-height: 30px

.doesnt_have_year
	background: #ccc

.active-rating .glyphicon:hover
	cursor: pointer

.yellow
	color: #005eff
