// Place all the styles related to the WantedTracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.searched, .searched td{
	background:#CCCCCC!important;
}
.searching, .searching td{
	background:#428bca!important;
	color:#FFFFFF!important;
}
